apiVersion: v1
kind: Secret
metadata:
  name: kiali
  namespace: istio-system
  labels:
    app: kiali
    chart: kiali
    heritage: Helm
    release: istio
type: Opaque
stringData:
  username: {{kiali_username}}
  passphrase: {{kiali_password}}
