apiVersion: v1
kind: Service
metadata:
  name: kibana
  namespace: {{kibana_namespace}}
  labels:
    app: kibana
spec:
  type: {{kibana_service}}
  ports:
  - port: 5601
    targetPort: 5601
    nodePort: {{kibana_nodePort}}
    name: kibana-http
  selector:
    app: kibana
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  namespace: {{kibana_namespace}}
  labels:
    app: kibana
spec:
  replicas: {{kibana_replica_count}}
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
      - name: kibana
        image: {{kibana_image}}
        resources:
          limits:
            cpu: {{kibana_resources_limits_cpu}}
          requests:
            cpu: {{kibana_resources_requests_cpu}}
        env:
          - name: ELASTICSEARCH_URL
            value: {{elasticsearch_url}}
        ports:
        - containerPort: 5601

